* {
    font-family: 'Roboto Mono', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f1f1f1;
}

/* header{
    padding: 10px ;
    background-color: grey;
} */
/* Nav section */
ul {
    background-color: #f1f1f1;
    list-style-type: none;
    /* position: fixed; */
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

li a {

    text-decoration: none;
    float: left;
    display: block;
    color: #000;
    padding: 15px 15px;
    transition: 0.3s;
}



li a:hover {
    background-color: #071952;
    color: whitesmoke;
}

/* home */
#home {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    padding: 100px 20px;
    background-color: #A1CCD1;
}

.profile-container {
    text-align: center;
}
#myname {
    color: whitesmoke;
    background-color: rgb(63, 63, 243);
}
img.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;

}

/* about section */
#about-h2 {
    display:block;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
#about{
    display: flex;
    background-color: #A1CCD1;
    padding: 20px 20px 20px;
    text-align: center;
}
/* footer section */
footer {
    display: block;
    text-align: center;
    justify-content:center;
    font-family: 'Roboto Mono', monospace;
}
  footer p span {
    display: block;
    padding: 0px;
    margin: 0px;
    font-size:11px;
}
footer p {
    display: block;
    padding: 1px;
    margin: 0px;
}
footer p span a{
    text-decoration: none;
}
.footer-content {
    padding-bottom: 10px ;
}

 

